In [19]:
import numpy as np
import pandas as pd

In [3]:
taxi = pd.read_csv('2_taxi_nyc.csv')

In [ ]:
## Общая инфа по файлцу

In [4]:
taxi.head()

,pickup_dt,pickup_month,borough,pickups,hday,spd,vsb,temp,dewp,slp,pcp 01,pcp 06,pcp 24,sd
0,2015-01-01 01:00:00,Jan,Bronx,152,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
1,2015-01-01 01:00:00,Jan,Brooklyn,1519,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
2,2015-01-01 01:00:00,Jan,EWR,0,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
3,2015-01-01 01:00:00,Jan,Manhattan,5258,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0
4,2015-01-01 01:00:00,Jan,Queens,405,Y,5.0,10.0,30.0,7.0,1023.5,0.0,0.0,0.0,0.0

In [10]:
taxi.shape

(29101, 14)

In [8]:
taxi.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29101 entries, 0 to 29100
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pickup_dt     29101 non-null  object
 1   pickup_month  29101 non-null  object
 2   borough       26058 non-null  object
 3   pickups       29101 non-null  int64
 4   hday          29101 non-null  object
 5   spd           29101 non-null  float64
 6   vsb           29101 non-null  float64
 7   temp          29101 non-null  float64
 8   dewp          29101 non-null  float64
 9   slp           29101 non-null  float64
 10  pcp 01        29101 non-null  float64
 11  pcp 06        29101 non-null  float64
 12  pcp 24        29101 non-null  float64
 13  sd            29101 non-null  float64
dtypes: float64(9), int64(1), object(4)
memory usage: 3.1+ MB

In [37]:
##сколько записей (строк) в датафрейме относятся к району Манхэттен (Manhattan). 
##сколько раз встречается каждый из районов?
##Сколько раз в данных встречается район Бруклин (Brooklyn)?

In [12]:
taxi.rename(columns = {'pcp 01':'pcp_01', 'pcp 06':'pcp_06', 'pcp 24':'pcp_24'}, inplace = True)

In [24]:
taxi.value_counts('borough')

borough
Bronx            4343
Brooklyn         4343
EWR              4343
Manhattan        4343
Queens           4343
Staten Island    4343
dtype: int64

In [17]:
taxi.query("borough == 'Manhattan'").shape[0]

4343

In [27]:
taxi.pickups.sum()

14265773

In [ ]:
##из какого района было совершено наибольшее количество поездок за весь период. 
##Для начала, посчитайте общее количество поездок (pickups)
## А теперь сгруппируйте данные по району (borough) и укажите, из какого пункта было совершено больше всего поездок

In [33]:
taxi.groupby('borough').agg({'pickups':sum})

                pickups
borough
Bronx            220047
Brooklyn        2321035
EWR                 105
Manhattan      10367841
Queens          1343528
Staten Island      6957

In [35]:
taxi.groupby('borough').agg({'pickups':sum}).idxmax()

pickups    Manhattan
dtype: object

In [39]:
##посмотрим на число поездок в выходные дни.
##Сгруппируйте данные по двум признакам: району города и является ли день выходным (колонки borough и hday). 
##Сравните среднее число поездок, и назовите районы, из которых по праздникам в среднем поступает больше заказов, чем в обычные дни.

In [50]:
taxi.groupby(['borough','hday']).agg({'pickups':'mean'})

                        pickups
borough       hday
Bronx         N       50.771073
              Y       48.065868
Brooklyn      N      534.727969
              Y      527.011976
EWR           N        0.023467
              Y        0.041916
Manhattan     N     2401.302921
              Y     2035.928144
Queens        N      308.899904
              Y      320.730539
Staten Island N        1.606082
              Y        1.497006